#banner {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height as needed */
    overflow: hidden;
}

#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/* Text styling for banner */
#bannertext1, #bannertext2 {
    color: #e8c800;
    font-family: sans-serif, Arial;
    transform: scaleY(1.5); /* Stretch the text vertically by 1.5 */
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 10;
}

#bannertext1 {
    top: 20%; /* Adjust position as needed */
}

#bannertext2 {
    top: 40%; /* Adjust position as needed */
}

/* Keypoints container styling */
.keypoints-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.0); /* Transparent background */
    padding: 10px 0;
}

/* Keypoints div styling */
.keypoints {
    background-color: #011226;
    padding: 20px;
    margin: 10px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: ghostwhite;
    border-color: #5c551e;
}